.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(""); */
  background-size: 100% 100%;
}

.registerFormMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.container{
  display: flex;
}

#optional{
  border: 1px solid rgb(235, 150, 150);
  position: absolute;
}

#googleOr{
  color: rgb(64, 192, 190);
  font-size: 18px;
  margin-top: 0px;
}

.line {
  border: 2px solid rgba(91, 192, 190, 0.486);
  margin-top: 50px;
  margin-bottom: 10px;
}

.phoneContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#phoneShield{
  position: absolute;
  left: 40px;
  bottom: 9px;
}

#dateOfBirth{
  position: absolute;
  right: 40px;
  margin-top: 62px;
  font-size: 14px;
  color: grey;
}


.phoneCountryCode {
  border: 1px solid #5bc0beff;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.phoneInput input {
  height: 40px;
  width: 200px;
  margin-left: 8px;
  padding-left: 10px;
  border-radius: 6px;
  border: none;
  border: 2px solid transparent;
}

.error{
  position: absolute;
  color: rgba(224, 145, 145, 0.5);
}



.phoneInput input:focus {
  outline: none;
  border: 2px solid #5bc0beff;
  transition: all 0.2s ease;
}

.pinContainer {
  display: flex;
  justify-content: center;
}

.pinInput {
  border-radius: 6px;
  margin-top: 15px;
}

.pinInput input {
  height: 41px;
  width: 206px;
  padding-left: 30px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}
.pinInput input:focus {
  border: 2px solid #5bc0beff;
  transition: all 0.2s ease;
}

.pinInput i {
  position: absolute;
  top: 311px;
  left: 72px;
}

.pinBtn {
  width: 101px;
  height: 41px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #5bc0beff;
  color: white;
}

.pinBtn:hover {
  background-color: rgb(76, 160, 158);
}

.pinBtn:active {
  background-color: rgb(67, 139, 138);
}

.firstLastNameContainer {
  display: flex;
  justify-content: center;
}

.lastnameContainer input {
  height: 100%;
  width: 100%;
  padding: 3px 35px;
  padding-top: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid grey;
  border-top: 2px solid transparent;
  transition: 0.3s;
  margin-left: 0px;
}

.lastnameContainer input:is(:focus, :valid) {
  border-bottom-color: #5bc0beff;
  transition: 0.3s;
}
.lni {
  position: absolute;
  left: 221px;
  transform: translateY(30px);
  font-size: 17px;
  color: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
}

.lastnameContainer input:is(:focus, :valid) ~ i {
  color: #5bc0beff;
  transition: 0.3s;
}

#name #lastname {
  width: 70%;
}

/*//////////////////////////////////////////////////////////////////////////////*/

.logoContainer h3 {
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 23px;
}

.formMainContainer {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.formContainer .forms {
  padding: 30px;
}

.title {
  color: rgba(0, 0, 0, 0.85);
}

.formContainer .forms .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.forms .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #5bc0beff;
  border-radius: 25px;
}

.form .inputField {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.inputField input {
  height: 100%;
  width: 100%;
  padding: 3px 35px;
  padding-top: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid grey;
  border-top: 2px solid transparent;
  transition: 0.3s;
}

.inputField input:is(:focus, :valid) {
  border-bottom-color: #5bc0beff;
  transition: 0.3s;
}

.inputField i {
  position: absolute;
  left: 35px;
  transform: translateY(29px);
  font-size: 17px;
  color: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
}

.inputField input:is(:focus, :valid) ~ i {
  color: #5bc0beff;
  transition: 0.3s;
}

.inputField i.showHidePw {
  left: 370px;
}

.forms .checkboxText {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkboxText .checkboxContent {
  display: flex;
  align-items: center;
}

.checkboxContent input {
  margin: 0 6px 0px 5px;
  accent-color: #5bc0beff;
}

.checkboxContent input:hover {
  cursor: pointer;
}

.forms .text {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.forms a {
  text-decoration: none;
  color: #5bc0beff;
}

.forms a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.2s;
}

.loginButton {
  display: flex;
  justify-content: center;
}

.loginButton button {
  width: 320vw;
  height: 5.5vh;
  margin: 15px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  transition: 0.2s;
  background-color: #5bc0beff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.loginButton button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.9);
}

.loginButton button:active {
  background-color: rgba(212, 212, 212, 0.4);
}

.loginSignup {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-bottom: 5px;
}
